#=======================================
# Core Joomla Excludes
#=======================================

code/administrator/cache/*
code/administrator/log/*
code/administrator/logs/*
code/cache/*
code/images/*
code/log/*
code/logs/*
code/tmp/*

code/configuration.php
code/.htaccess
code/robots.txt
code/README.txt
code/LICENSE.txt
code/htaccess.txt
code/CONTRIBUTING.md
code/joomla.xml
code/robots.txt.dist
code/web.config.txt


# Symlinks

code/images

#=======================================
# Extensions Excludes
#=======================================

# Files Excludes
code/administrator/.htaccess
code/administrator/.htpasswd
code/.htpasswd
code/.htaccess.admintools
code/.htversion
code/templates/tjbase/css/mixed.min.css.map
code/media/build/node_modules
code/plugins/system/cachecleaner/cachecleaner_lastclean.log
code/plugins/system/mailchimp/mailchimp/log.php
code/administrator/components/com_jmailalerts/log.txt

# EasySocial and EasyDiscuss Excludes

code/media/com_easysocial/files/*
code/media/com_easysocial/photos/*
code/media/com_easysocial/tmp/*
code/media/com_easysocial/videos/*
code/media/com_easysocial/avatars/*
code/media/com_easysocial/config/*
code/media/com_easysocial/resources/*
code/media/foundry/*
code/media/com_easydiscuss/attachments/*
code/media/com_easydiscuss/config/*

# LMS Excludes

code/media/com_tjlms/lessons/*
code/media/com_tjlms/images/*

# Kunena Excludes

code/media/kunena/attachments/*
code/media/kunena/avatars/*
code/media/kunena/category_images/*

# Docman Excludes

code/joomlatools-files/*
code/media/com_docman/joomlatools-files/*

# JTicketing Excludes

code/media/com_jticketing/events/images*

# Other Exludes

code/administrator/components/com_akeeba/backup/*
code/administrator/components/com_akeebabackup/backup/*
code/components/com_contushdvideoshare/videos/*
code/plugins/system/bfnetwork/bfnetwork/tmp/*
code/media/com_ideas/*
code/media/com_goals/*
code/media/com_hwdmediashare/files/*
code/media/coursebook/*
code/media/documents/*
code/media/todo_csv/*
code/media/user_guide/*
code/media/unep/*
code/media/com_tjcertificate/certificates/*
code/media/com_tjucm/file-upload-breach/*
code/media/com_tjucm/file-upload-sar/*
code/media/com_tjucm/rop/*
code/media/com_tjucm_FOIlog/*
code/media/com_tjucm_sarlog/*

code/components/com_ideas/defines.php
code/media/com_multiagency/node_modules/*

#=======================================
# File types Excludes
#=======================================

code/components/com_tjucm/models/forms/*
code/administrator/components/com_tjucm/models/*

*.*~
code/.bash_history
.sass-cache
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
*.log
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.map


#=======================================
# Eclipse Core Excludes
#=======================================

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.buildpath
.editorconfig
.settings
.DS_Store
.idea
nbproject

code/stubs.php
administrator/components/com_acymailing/*
media/com_acymailing/*
components/com_acymailing/*

#=======================================
# Template Files Excludes
#=======================================
code/templates/tjbase/automation/node_modules/*
